.active{
    color: white;
    background-color: red;
    border: 2px dotted black;
    text-indent: 5px
}

#playButton {
    display: block;
}
  
#pauseButton {
    display: none;
}
.controls{
    display: flex;
}
.controls img{
    width: 4vw;
}